/* regole generali */
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
}

main{
    width: 50%;
    margin: auto;
}

.container{
    border-radius: 10px;
    padding: 40px 10% 60px;
    margin-bottom: 40px;
}



/* header con logo in alto a sx */
header{
    padding: 20px 20px;
}

header img{
    vertical-align: middle;
}

header span{
    vertical-align: middle;
    font-size: 30px;
    color: lightgrey;
}



/* navigator con pulsanti */
nav{
    text-align: center;
    margin: 80px 0;
}

.button{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 5px;
}

.black{
    color: white;
    background-color: gray;
}

.white{
    color: black;
    background-color: white;
}



/* sezione giorno e data */
.title{
    background-color: #00000099;
    color: white;
}

#title{
    font-size: 70px;
    margin-bottom: 20px;
}

#date{
    font-size: 30px;
}



/* sezione con lista */
.list{
    background-color: white;
    height: 400px;
}
