/* regole generali */
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
}


header{
    padding: 20px 20px;
}

header img{
    vertical-align: middle;
}

header span{
    vertical-align: middle;
    font-size: 30px;
    color: lightgrey;
}
