/* regole generali */
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    /* background-position: center top; */
}
